.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: auto;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffff;
    font-size: 15px;

    &:hover {
        opacity: 0.9;
    }
}

.dark {
    color: #fff;

    .btn {
        background-color: #f4f4f4;
        color: #333;
    }
}